/* Offsets for fixed navbar */
body {
  color: #666;
  font-family: 'Rubik', sans-serif;
  font-size: 14px; }

p.compact {
  margin: 0 0 6px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  color: #333;
  font-weight: normal; }

.speaker-short-info .h6, h6 {
  color: #555; }

a {
  color: #666; }
  a:hover {
    color: #e12b00;
    text-decoration: none; }
  a .speaker-social {
    margin-right: 0.3em; }
    a .speaker-social:hover {
      text-decoration: none; }

/* Navbar adjustments */
.logo {
  max-width: 180px;
  max-height: 45px;
  margin-top: 5px; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #e7e7e7; }
  .navbar-default .navbar-nav li a {
    color: #000;
    font-size: 11px; }

.navbar-header {
  margin-left: 20px; }

.navlink {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase; }
  .navlink a {
    padding-bottom: 14px; }
    .navlink a:hover {
      border-bottom: 3px solid #777;
      text-decoration: none; }

.navbar-toggle {
  border: none;
  padding: 6px 8px;
  color: #555;
  margin-left: 2em;
  margin-top: 1em; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #555; }

/* General styling of session list */
.sessions .session-description {
  color: #666; }

.sessions .session-type {
  color: #666; }

.sessions .session-speakers {
  float: left; }

.sessions .session-id {
  float: right;
  word-wrap: break-word; }

.sessions .session-list li {
  cursor: pointer; }

.sessions .session-list .label {
  background: #ff8700;
  border-color: #ebccd1;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 80%;
  margin-left: -8px; }

.sessions .session-list .session-title {
  margin-top: 0.1em; }
  .sessions .session-list .session-title .session-link {
    font-size: 12px; }

.sessions .session-location {
  color: #666;
  text-align: left; }

.sessions ul {
  list-style: none; }
  .sessions ul li:after {
    content: ','; }
  .sessions ul li:last-of-type:after {
    content: ''; }

/* Adjustments for smaller screens */
@media (min-width: 450px) {
  body {
    font-size: 14px; }
  .session-list .label {
    font-size: 90%;
    padding: .2em .6em .3em; }
  .session-title {
    float: left;
    width: 75%; }
  .session-location {
    float: right;
    width: 25%;
    text-align: right; }
  .session-id {
    float: none; } }

@media (min-width: 768px) {
  #day-menu .dropdown-menu {
    display: block;
    opacity: 0;
    top: -500px;
    -moz-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -ms-transition: opacity 500ms ease;
    transition: opacity 500ms ease; }
    #day-menu .dropdown-menu:hover {
      display: block;
      opacity: 1;
      top: 50px; }
  #day-menu > .dropdown-toggle:hover + .dropdown-menu {
    opacity: 1;
    top: 50px; }
  #day-menu > .dropdown-toggle:hover {
    background-color: #e7e7e7; } }

.btn-sign-up {
  background: #ff8700;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: -5px; }

.video-link {
  margin-left: 3px; }
  .video-link > .fa {
    font-size: 22px;
    color: #757575; }
    .video-link > .fa:hover {
      color: #e52d27; }

.session-link > .fa {
  font-size: 18px;
  color: #757575; }
  .session-link > .fa:hover {
    color: #2196F3; }

.session-link + .inputbox {
  font-size: 12px; }

@media (max-width: 450px) {
  .session-link > .fa {
    font-size: 24px; }
  .video-link > .fa {
    font-size: 28px; }
  .btn-sign-up {
    font-size: 15px;
    margin-top: -8px; }
  .session-title {
    line-height: 1.5; } }

.section-header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 42px;
  margin-top: 50px; }

.inputbox {
  width: 35%;
  padding: 4px;
  margin-left: 5px; }

::selection {
  background-color: #ff8700;
  color: #FFFFFF; }

.footer {
  bottom: 0;
  margin: 0;
  color: #777;
  padding: 15px;
  text-align: center;
  height: 100px; }

.large {
  padding: 3%;
  margin: 1%;
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 200px; }

.medium {
  padding: 3%;
  margin: 1%;
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 140px; }

.small {
  padding: 3%;
  margin: 1%;
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 120px; }

.sponsors {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 25px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }

.mediumoffset:first-child {
  margin-left: 8.33%; }

.smalloffset {
  margin-left: 41.66666667%; }

.largeoffset {
  margin-left: 36%; }

.sublargeoffset :first-child {
  margin-left: 16.6%; }

.subsmalloffset {
  margin-left: 41.66666667%; }

@media (max-width: 792px) {
  .sublargeoffset :first-child {
    margin-left: 0%; }
  .mediumoffset:first-child {
    margin-left: 0%; } }

@media (max-width: 892px) {
  .largeoffset {
    margin-left: 10%; }
  .smalloffset {
    margin-left: 10%; } }

.centre {
  display: block;
  margin: 0 auto; }

/* Track SCSS */
.event {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid transparent;
  border-radius: 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid transparent;
  cursor: pointer;
  display: block;
  margin: 0 12px 12px 0;
  position: relative;
  background: #b7cdff;
  width: auto;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  word-wrap: break-word; }

.event a:hover {
  color: #666; }

.sizeevent {
  cursor: pointer;
  padding: 10px 20px;
  width: auto;
  font-weight: 300;
  font-style: normal; }

.trackwidth {
  width: 112px; }

.track-list {
  margin-top: 4%;
  margin-bottom: 8%; }

.left-border {
  border-left: 1px solid #e6e6e6; }

.text {
  color: #000;
  word-wrap: break-word;
  text-align: justify;
  font-size: 22px; }

.tracks {
  min-height: 70px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 5px; }

.main {
  margin-top: 2%;
  padding-top: 2%;
  margin-bottom: 1%;
  background-color: #fff; }

.card-container {
  padding: 4%; }
  .card-container .card {
    margin-top: 30%;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 0.125em 0.275em 0 rgba(0, 0, 0, 0.125);
    display: block;
    margin: 0 auto;
    background-color: #fff; }
    .card-container .card .card-img-top {
      overflow: hidden;
      width: 248px;
      height: 235px; }
    .card-container .card .card-block {
      height: 330px;
      overflow-y: hidden;
      overflow-x: hidden;
      padding: 2%; }
      .card-container .card .card-block:hover {
        overflow-y: overlay; }
      .card-container .card .card-block .card-text {
        color: #2482d3;
        padding: 1%;
        line-height: normal;
        word-wrap: break-word; }
      .card-container .card .card-block .description {
        margin: 4%;
        text-align: center;
        padding: 4px;
        color: #000; }
    .card-container .card .icons {
      text-align: center;
      color: #757575;
      font-size: 18px;
      padding: 4%;
      height: 43px; }

.track-heading {
  margin-top: 40px;
  font-weight: 500; }

.active {
  background-color: #f1d204 !important;
  font-weight: bold; }

.eventtime {
  text-align: center;
  color: #666;
  vertical-align: middle;
  height: 46px;
  transform: translateY(30%);
  padding-left: 0; }

.sesroom {
  color: #fff;
  padding: 1%;
  max-width: 500px;
  margin-left: 4%; }

@media only screen and (min-width: 600px) and (max-width: 700px) {
  .sesroom {
    max-width: 400px; } }

@media only screen and (min-width: 458px) and (max-width: 600px) {
  .sesroom {
    max-width: 300px; } }

@media (max-width: 458px) {
  .sesroom {
    max-width: 250px; } }

.titlecolor {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%; }

.title-inline {
  padding: 0;
  position: relative; }
  .title-inline li {
    display: inline-block;
    max-width: 188.6px;
    word-wrap: break-word; }

.title-legend {
  float: left;
  width: 215px; }

.track-names {
  color: #000;
  margin-top: 16%;
  padding-left: 2em; }

@media (max-width: 990px) {
  .title-legend {
    float: left;
    width: 40%; }
  .track-names {
    display: none;
    margin-top: 0; } }

@media (max-width: 767px) {
  .pop-box {
    width: 100%; }
  .pop-box .arrow {
    left: 48%;
    margin-top: -10px; } }

.header-pop {
  display: inline-block; }

.track-inline {
  vertical-align: text-top; }

.carousel {
  margin-top: 55px; }

.carousel, .carousel .item {
  height: 450px; }
  .carousel-caption, .carousel .item-caption {
    z-index: 10;
    bottom: 100px;
    color: #fff;
    left: 10.2%;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px; }
    .carousel-caption h4, .carousel-caption h1, .carousel .item-caption h4, .carousel .item-caption h1 {
      color: #fff; }

@media (min-width: 768px) {
  .carousel-caption h1 {
    font-size: 50px; } }

.eventpage {
  margin-top: -66px;
  position: relative;
  overflow: hidden;
  padding: 0; }
  .eventpage .listing-panel {
    background-color: #fff;
    border-color: #d2d6df;
    border-style: solid;
    border-width: 0 0 1px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px; }

.eventdes {
  color: #666;
  padding-top: 30px;
  text-align: justify; }

.speaker-info {
  height: 280px;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer; }
  .speaker-info .name {
    padding: 0 4px;
    word-wrap: break-word; }

#map {
  display: block;
  margin: auto;
  height: 600px; }

.speakers-row {
  padding: 0px 15px; }
  .speakers-row .speaker-column {
    padding: 0px; }
    .speakers-row .speaker-column .speaker {
      position: relative;
      margin-bottom: 36px; }
      .speakers-row .speaker-column .speaker span {
        display: block;
        font-size: 16px; }
      .speakers-row .speaker-column .speaker .image-holder {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: 12px; }
        .speakers-row .speaker-column .speaker .image-holder .background-image {
          height: 300px;
          width: 300px;
          display: block;
          margin: 0 auto;
          background-color: #f8f8fa; }
        .speakers-row .speaker-column .speaker .image-holder .responsive-overlay {
          height: 100%;
          position: absolute;
          top: 0;
          width: 100%; }
          .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .preserve3d {
            height: 300px; }
          .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state {
            background: rgba(0, 0, 0, 0.5);
            display: block;
            height: 262.5px;
            left: 0;
            opacity: 0;
            position: relative;
            top: 0;
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            width: 262.5px;
            z-index: 2;
            height: 300px;
            width: 300px; }
            .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state .bio {
              color: #fff;
              margin-left: 10px;
              margin-right: 10px;
              max-width: 280px; }
          @media screen and (max-width: 892px) {
            .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state {
              margin: 0 auto; } }
        .speakers-row .speaker-column .speaker .image-holder .social-links {
          position: absolute;
          top: 0%;
          width: 100%;
          transition: all 0.3s ease-out;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          transform: translate3d(0px, -200px, 0px);
          -webkit-transform: translate3d(0px, -200px, 0px);
          -moz-transform: translate3d(0px, -200px, 0px); }
          .speakers-row .speaker-column .speaker .image-holder .social-links a {
            color: #fff;
            font-size: 24px;
            display: inline-block;
            margin-left: 6px; }
          .speakers-row .speaker-column .speaker .image-holder .social-links a:hover {
            color: red; }
        .speakers-row .speaker-column .speaker .image-holder:hover .hover-state {
          opacity: 1; }
          .speakers-row .speaker-column .speaker .image-holder:hover .hover-state .social-links {
            position: absolute;
            top: 140%; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.speaker-name {
  color: #333333;
  height: 22px;
  text-align: center; }

.middle {
  text-align: center;
  padding: 4%; }

.sponsorscont {
  padding: 72px 0; }

.vcenter {
  transform: translateY(30%); }

.sponsorimg {
  height: 80px;
  line-height: 80px;
  margin-bottom: 36px; }
  .sponsorimg img {
    max-height: 80px;
    max-width: 150px; }

.duplicatable-content {
  padding-bottom: 36px; }

.speaker-with-bio {
  overflow: hidden;
  margin-bottom: 36px; }
  .speaker-with-bio .speaker {
    width: 50%;
    float: left;
    margin-bottom: 0px; }
    .speaker-with-bio .speaker .image-holder {
      position: relative;
      overflow: hidden; }
      .speaker-with-bio .speaker .image-holder:hover .hover-state {
        opacity: 1; }
        .speaker-with-bio .speaker .image-holder:hover .hover-state .social-links {
          position: absolute;
          top: 140%; }
      .speaker-with-bio .speaker .image-holder .background-image {
        height: 262.5px;
        width: 262.5px; }
    .speaker-with-bio .speaker .responsive-overlay {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%; }
      .speaker-with-bio .speaker .responsive-overlay .hover-state {
        background: rgba(0, 0, 0, 0.5);
        display: block;
        height: 262.5px;
        left: 0;
        opacity: 0;
        position: relative;
        top: 0;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        width: 262.5px;
        z-index: 2; }
        .speaker-with-bio .speaker .responsive-overlay .hover-state .social-links {
          position: absolute;
          top: 0%;
          width: 100%;
          transition: all 0.3s ease-out;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          transform: translate3d(0px, -200px, 0px);
          -webkit-transform: translate3d(0px, -200px, 0px);
          -moz-transform: translate3d(0px, -200px, 0px); }
          .speaker-with-bio .speaker .responsive-overlay .hover-state .social-links a {
            color: #fff;
            font-size: 24px;
            display: inline-block;
            margin-left: 6px; }
          .speaker-with-bio .speaker .responsive-overlay .hover-state .social-links a:hover {
            color: red; }
  .speaker-with-bio .speaker-description {
    float: left;
    max-height: 262.5px;
    overflow: hidden;
    padding-left: 30px;
    width: 50%; }
    .speaker-with-bio .speaker-description:hover {
      overflow-x: hidden;
      overflow-y: overlay; }
    .speaker-with-bio .speaker-description span {
      display: inline-block;
      margin-bottom: 18px;
      font-weight: 700; }
    .speaker-with-bio .speaker-description p {
      font-size: 14px;
      line-height: 24px;
      margin: 0 0 10px; }

@media (max-width: 992px) {
  .speaker-with-bio .speaker {
    width: 100%; }
    .speaker-with-bio .speaker .image-holder .background-image {
      display: block;
      margin: 0 auto; }
  .speaker-with-bio .speaker-description {
    padding-left: 0;
    text-align: center;
    width: 100%; } }

@media screen and (max-width: 992px) {
  .speaker-with-bio .speaker .image-holder .responsive-overlay .hover-state {
    margin: 0 auto; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .speaker-with-bio .speaker .image-holder .background-image {
    height: 212.5px;
    width: 212.5px; }
  .speaker-with-bio .speaker .image-holder .responsive-overlay .hover-state {
    height: 212.5px;
    width: 212.5px; }
  .speaker-with-bio .speaker-description {
    height: 212.5px;
    width: 212.5px; }
  .speakers-row {
    padding: 0 75px; }
    .speakers-row .speaker-column .speaker .image-holder .background-image {
      height: 212.5px;
      width: 212.5px; }
    .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state {
      height: 212.5px;
      width: 212.5px; } }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.tweets-feed {
  color: #777;
  line-height: 22px;
  font-size: 16px;
  transition: opacity 0.2s linear;
  margin-bottom: 20px;
  height: 100px; }
  .tweets-feed a {
    color: #777;
    text-decoration: underline;
    font-weight: 700; }
  .tweets-feed #dateTweeted {
    font-size: 12px;
    display: block; }

.tweet-row {
  margin-bottom: 80px;
  padding: 0;
  transform: translateY(20%); }
  .tweet-row .social_twitter {
    font-size: 60px;
    margin-bottom: 12px; }

.footer-container {
  max-width: 1600px;
  margin: 0px auto; }
  .footer-container .classic {
    padding: 72px 0px 36px 0px; }
    .footer-container .classic .menu {
      display: inline-block;
      text-align: left;
      line-height: 1;
      list-style: none;
      padding: 0;
      margin-bottom: 14px; }
      .footer-container .classic .menu li {
        float: none;
        margin-bottom: 12px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        position: relative;
        top: 4px;
        color: #000; }
    .footer-container .classic span .lead {
      display: inline-block;
      margin-bottom: 12px;
      font-weight: 300; }
    .footer-container .classic .social-profiles {
      display: inline-block; }
      .footer-container .classic .social-profiles li {
        display: inline-block; }
    .footer-container .classic a {
      text-decoration: none; }
      .footer-container .classic a:hover {
        color: #000; }
  .footer-container .contact-details {
    margin-bottom: 14px;
    left: 40px; }
    .footer-container .contact-details .contact-methods {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer-container .contact-details .contact-methods i {
        color: #777;
        font-size: 36px; }
      .footer-container .contact-details .contact-methods li {
        list-style: none;
        margin-bottom: 12px;
        position: relative; }
      .footer-container .contact-details .contact-methods span {
        display: inline-block;
        font-size: 14px;
        position: relative;
        left: 8px;
        width: 188px; }
        .footer-container .contact-details .contact-methods span a {
          padding-bottom: 4px;
          position: relative;
          bottom: 10px;
          left: 8px; }
      .footer-container .contact-details .contact-methods .address span {
        vertical-align: top; }
  @media (max-width: 892px) {
    .footer-container .contact-details {
      left: 0; } }

.room-container .tip-description {
  color: #777;
  text-align: left; }

.graytext {
  color: #777; }

.hide {
  display: none; }

.speaker-name {
  font-size: 16px; }

.speaker-photo {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px; }

.speaker-container {
  padding-left: 10px; }

.speaker-bio {
  margin-bottom: 6px;
  padding-left: 10px; }

.speaker-location {
  font-size: 12px;
  font-weight: normal; }

.speaker-hr {
  clear: both;
  width: 90%; }

.speaker-event {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid transparent;
  border-radius: 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid transparent;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: 300;
  padding: 20px;
  position: relative;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
  width: auto;
  word-wrap: break-word; }

@media (max-width: 660px) {
  .speaker-event {
    max-width: 95%; } }

@media (min-width: 600px) {
  .mobile {
    display: none; }
  .desktop {
    display: block; } }

@media (max-width: 600px) {
  .mobile {
    display: block; }
  .desktop {
    display: none; } }

.speakers-list {
  max-width: 50%;
  float: left;
  padding-left: 15px; }
  @media only screen and (max-width: 400px) {
    .speakers-list {
      max-width: 35%; } }

.speaker-short-info {
  width: auto;
  overflow: hidden;
  padding-left: 15px; }

.speaker-image-small {
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }

.session-speakers {
  margin-right: 20px; }

.session-speaker-name {
  color: #444;
}

.paddingzero {
  padding: 0; }

.clear-both {
  clear: both; }

/* Date selection tabs */
.date-list {
  line-height: 40px;
  font-weight: 300; }

.tabs {
  margin-top: 10px;
  line-height: 20px;
  padding: 0; }

.tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0; }

.tabs-nav-link {
  background-color: #838282;
  color: #fff;
  flex: 1;
  margin-right: 4px;
  padding: 10px;
  text-align: center;
  transition: color 0.3s; }
  .tabs-nav-link:last-child {
    margin-right: 0; }
  .tabs-nav-link:hover {
    color: #e6e6e6; }
  .tabs-nav-link:focus {
    outline: none;
    box-shadow: none; 
    text-decoration: none;}
  .tabs-nav-link.is-active {
    background-color: #f1d204;
    color: #333; 
    font-weight: bold; }
  .tabs-nav-link i,
  .tabs-nav-link span {
    line-height: 1;
    margin: 0;
    padding: 0; }
  .tabs-nav-link i {
    font-size: 18px; }
  .tabs-nav-link span {
    display: none;
    font-size: 18px; }

@media all and (min-width: 720px) {
  .tabs-nav-link i {
    font-size: 22px;
    margin-bottom: 12px; }
  .tabs-nav-link span {
    display: block; }
  .date-list {
    max-width: 50%; } }

.bookmark-toggle {
  color: #777;
  }
  .bookmark-toggle.is-active {
    background-color: #f1d204;
    color: #333; }
  .bookmark-toggle:focus {
    outline: none;
    box-shadow: none; 
    text-decoration: none;}

.bookmark {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0; }
  .bookmark i {
    margin-left: 5px; }

@media screen and (max-width: 767px) {
  .side-collapse {
    background-color: #fff;
    bottom: 0;
    opacity: .9;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 50px;
    transition: width .4s;
    width: 16em; }
  .side-collapse.in {
    width: 0; } }

.navbar-track-list, .navbar-version {
  white-space: nowrap;
  overflow-x: visible; }
  
@media only screen and (min-width: 768px) {
  .navbar-track-list, .navbar-version {
    display: none; } }

.navbar-track-info {
  margin-bottom: 5px;
  margin-left: 15px; }

.navbar-version {
  margin-bottom: 5px;
  margin-left: 15px; 
  color: #444; }

.navbar-version .btn-reload {
  color: black;
  background-color: #eee;
  border-color: #bbb; 
  font-weight: bold;
  font-size: 11px; 
  padding: 10px; 
  letter-spacing: 1px; 
  margin-top: 10px; }

.button-list {
  margin-top: 15px;
  width: fit-content; }

/* Poster on main page */
.poster {
  margin-top: 55px;
  position: relative; }

.poster-caption {
  position: absolute;
  bottom: 20%;
  left: 10%; }

.poster-caption h1, .poster-caption h2, .poster-caption h3, .poster-caption h4, .poster-caption h5, .poster-caption h6 {
  color: #fff; }

@media (min-width: 768px) {
  .collage-caption h1 {
    font-size: 50px; }
  .poster-img.desktop {
    display: block; }
  .poster-img.mobile {
    display: none; } }

@media (max-width: 767px) {
  .poster-img.desktop {
    display: none; }
  .poster-img.mobile {
    display: block; } }

/* Calendar */
.calendar {
  display: block;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 10px; }

.calendar-content {
  display: block;
  margin-top: 20px; }

.calendar-footer {
  position: absolute;
  width: 100%; }

.times {
  display: inline-block;
  float: left;
  width: 48px; }

.rooms {
  display: inline-block;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: calc(100% - 48px); }

.room {
  display: inline-block;
  min-width: 160px;
  position: relative;
  white-space: initial; }

.room-header {
  background-color: #fff;
  display: flex;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%; }
  .room-header span {
    word-wrap: break-word; }

.session {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: #222;
  font-weight: 300;
  line-height: 120%;
  padding: 5px;
  position: absolute;
  width: 100%;
  word-wrap: break-word; }

.session .fa {
 color: #555;
}

.session-name {
  height: inherit;
  overflow: hidden;
  position: relative; }
  .session-name a {
    color: #222; }

.session-name:after {
  content: '';
  margin-top: 0.2em;
  position: absolute;
  right: 0; }

.session-desc {
  font-size: 14px; }

.session-details {
  font-size: 12px; }

.time {
  padding-left: 5px;
  padding-right: 5px; }

/* search filters */

.search {
  display: flex;
  flex-wrap: wrap;
}

.filter {
    padding-top: 8px;
}

.search-filter-schedule {
  flex-grow: 2;
  border-radius: 5px;
  margin-right: 10px;
}

.search-filter-input {
  line-height: 30px;
  margin-top: 3px;
  width: 95%;
  padding-left: 36px;
  font-size: 16px;
  border-radius: 5px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 10px center;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.search-filter label .fa {
  margin: -7px;
  padding-left: 20px;
  padding-right: 3px;
  position: absolute;
}

.search-filter input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #0076f9;
}

/* scroll to the top */

.scroll {
  display: flex;
}

#down-button {
  color: #999;
  font-size: 32px;
  position: fixed;
  left: 11px;
  bottom: 8px;
  z-index: 1010;
  text-decoration: none;
}

#now-button {
  color: #999;
  display: none;
  font-size: 32px;
  position: fixed;
  left: 9px;
  bottom: 90px;
  z-index: 1010;
  text-decoration: none;
}

#find-button-div {
  background: #999; 
  display: none;
  width: 32px;
  height: 32px;
  position: fixed;
  left: 9px;
  bottom: 50px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  z-index: 1010;
}

#find-button {
  cursor: pointer;
  color: white;
  font-size: 14px;
  vertical-align: middle;
  background-color: transparent;
  position: absolute;
  top: 52%;
  transform: translateY(-50%) translateX(-50%);
}

a.findbutton:hover {
  color: white; 
}

a.findbutton:visited
{
  color: white;
}

#find-field {
  position: fixed;
  bottom: 46px;
  left: 60px;
  height: 40px;
  width: 260px;
  padding-left: 25px;
  padding-right: 40px;
  border-style: solid;
  border-color: #60b0ff;
  font-size: 16px;
  color: black;
  border-radius: 30px;
  border-width: 2px;
  background-color: white;
  box-shadow: 2px 2px 22px -6px rgba(0,0,0,0.75);
  z-index: 1010;
  outline: none;
  display: none;
}

#find-field input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #0076f9;
}

#find-next {
  cursor: pointer;
  color: #60b0ff;
  font-size: 20px;
  position: fixed;
  left: 284px;
  bottom: 51px;
  z-index: 1010;
  background-color: transparent;
  display: none;
  text-decoration: none;
  padding: 4px;
  margin: -4px;
}

.date-list {
    padding-right: 5px;
    padding-left: 5px;
}

.date-list .tabs-nav-link {
  padding: 10px 8px 10px 8px;
}

/* increase max width */
@media (min-width: 1500px) {
  .wide-container {
    max-width: 1470px;
  }
  .date-list {
    max-width: 50%; 
  }
}

@media (min-width: 1700px) {
  .wide-container {
    max-width: 1670px;
  }
  .date-list {
    max-width: 50%; 
  }
}

/* fonts */
@font-face {
    font-family: 'Rubik';
    src: url('ttf/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('ttf/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('ttf/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('ttf/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('ttf/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('ttf/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* track legend */
.track-legend {
  display: none;
}

@media (max-width: 990px) {
  .track-legend {
    display: block;
  }
}

.track-legend-toggle {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: gray;
}

.track-legend-toggle a {
   color:inherit;
   cursor: pointer;
}

.track-legend-toggle .fa-chevron-down {
  transition: all 0.5s ease;
}

.rotate180 {
  transform: rotate(180deg);
}

.track-legend-color {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%; }

.track-legend-list {
  line-height: 20px;
  text-align: center;
}

.track-legend-item {
  font-size: 12px;
  font-weight: 300;
  padding-right: 6px;
  white-space: nowrap;
}

/* search on speakers page */
.search-row {
  line-height: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
}

@media (min-width: 720px) {
  .search-row {
    max-width: 50%;
  }
}

.search-filter-speakers {
  flex-grow: 2;
  border-radius: 5px;
}
